.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Задаем высоту окна браузера */
    background-color: rgba(230, 57, 70, 0.1);
    margin: 0; /* Убираем отступы */
    gap: 20px;
}

.form-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(230, 57, 70, 0.1);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    border-radius: 30px;
    gap: 20px;
}

.logo {
    height: 90px;
    width: auto;
}

.form-input {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    gap: 6px
}

.form-btn {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: var(--red-color);
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.form-label {
    font-size: 14px;
    color: rgba(148, 144, 144, 0.8);
    font-weight: 550;
}

.form-sec {
    display: flex;
}

.inp {
    border: none;
}

.inp:focus {
    border: none;
    outline: none; /* Убирает подсветку */

}

input[type="password"]::placeholder {
    font-size: 16px;
}

input {
    font-size: 16px;
}

.footer {
    display: flex;
    color: rgba(148, 144, 144, 0.9);    justify-content: space-between; /* Размещение элементов по краям */
    cursor: pointer;
    font-weight: 500;
}

a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Цвет будет унаследован от родительского элемента */
}

.foot {
    color: rgba(148, 144, 144, 0.9);
}