

.content {
  display: flex;
  margin: 20px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group label,
.filter-group p {
  display: block;
  margin-bottom: 8px;
}

select,
input[type="checkbox"] {
  margin-bottom: 10px;
}

.apply-button,
.reset-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #e63946;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.reset-button {
  background-color: #f1f1f1;
  color: black;
}

.catalog {
  width: 75%;
}

.catalog h1 {
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
}


.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:24px 50px 22px 26px;
    background-color: white;
    border-top: 1px solid #f2f2f2;
}

.card_left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.card_controls {
    flex-direction:column;
    justify-content: inherit;
    margin: 0 0 0 30px;
    align-items: center;
    min-width: 180px;
}

.card_left>a {
    width: 220px;
    flex-shrink: 0
}

.card_image {
    width: 180px;
    flex-shrink: 0;
    margin: 0 40px 0 0;
    max-height: 300px;
    -o-object-fit: contain;
    object-fit: contain
}

.card_title {
    color: #313235;
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px
}

.card_table-row {
    margin: 4px 0 0;
}

.card_table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 0 0
}

.card_table-cell:nth-child(1) {
    max-width:300px
}

.card_table-cell:nth-child(1) {
    color: #8f8f8f;
    flex-grow: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px
}

.card_table-cell:nth-child(2) {
    flex-grow: 10;
    height: 13px;
    border-bottom: 1px solid #ebebeb;
    margin: 0 10px
}

.card_table-cell:nth-child(3) {
    flex-grow: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px
}

.price-date {
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #808080d9;
    margin: 0 10px 0 0
}

.in-stock {
    font-weight: 500;
    color: #7dc900;
    background: no-repeat left center;
    white-space: nowrap;
    text-align: center;
}

.card_button {
    order:inherit;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.card_offers {
    display: inline-block;
    background: var(--red-color);
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    padding: 0 24px;
    text-align: center;
    width: 100%;
    transition: .2s ease-in-out border-color,.2s ease-in-out background-color,.2s ease-in-out color;
    white-space: nowrap;
    font-size: 16px;
    min-width: 0;
    margin: 0 0 16px
}

.card:hover {
    z-index:1;
    box-shadow: 0px 0px 30px rgba(0,0,0,.15);
    border-top-color: transparent
}

.title-count {
    font-size:.7em;
    color: #c4c4c4;
    margin: 0 0 0 5px;
    top: -11px;

}

/**********************/

.filters {
    display: block;
    background: #f8f8f8;
    padding: 2px 20px;
    box-sizing: border-box;
    width: 300px;
    margin: 0 30px 0 0;

}

.filters_title {
    background: #fff;
    background-image: url('/static/catalog/img/filter.svg');
    background-repeat: no-repeat;
    background-position: center right 16px;
    background-size: 25px 25px;
    pointer-events: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    display: block;
    margin: 2px -18px;
    height: 72px;
    line-height: 72px;
    padding: 0 20px;
}

.filters_section-title {
    background: none;
    margin: 25px 0 10px;
    color: #313235;
    font-weight: bold;
    line-height: 24px;
    display: block;
    position: relative;
}

.dynamic-filter {
    margin-top: 5px;
}

.choices {
    position: relative;
    margin-bottom: 14px;
    font-size: 16px;
    color: #313235
}

.choices[data-type*=select-one] {
    cursor: pointer
}

.choices:last-child {
    margin-bottom: 0
}

.choices__inner {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    border: 1px solid #e5e5e5
}


.choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none
}

.choices__list--single {
    display: inline-block;
    padding: 0 70px 0 20px;
    width: 100%
}

.choices__list--single .choices__item {
    width: 100%;
    white-space: nowrap
}

.choices[data-type*=select-one] .choices__input {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin: 0
}

.choices [hidden] {
    display: none !important
}

.choices__list--dropdown {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    overflow: hidden;
    word-break: break-all;
    will-change: visibility
}

.choices__list--dropdown .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #f2f2f2
}

.choices__list--dropdown .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px
}

.choices__item--selectable {
    cursor: pointer
}

.choices[data-type*=select-one]:after {
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    background: url('/static/catalog/img/chevron-down.svg') no-repeat center;
    border-left: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 0px 3px 3px 0px
}

.choices__list--dropdown.is-active {
    visibility: visible
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #f2f2f2
}

/*************************************************/

/* Основные стили для блока фильтров */
#filter-types {
    border-radius: 5px;
    background-color: #f9f9f9;
}

#filter-types h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;

}

.checkbox-group label {
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    width: 15px;    /* Размер ширины */
    height: 15px;   /* Размер высоты */
    margin-right: 10px; /* Отступ от текста */
    cursor: pointer; /* Курсор при наведении */
}

/* Стили для списка товаров */
#items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

#items-list div {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: calc(33% - 20px);
    box-sizing: border-box;
}

#items-list div:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
