.empty-cart {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 18px; /* Настройте размер текста */
  color: #333; /* Цвет текста */
}

.empty-cart .indicator {
  width: 4px; /* Ширина линии */
  height: 18px; /* Высота линии, равна высоте текста */
  background: #f93f20; /* Цвет линии */
  margin-right: 8px; /* Отступ между линией и текстом */
}
