<head>
    {% load static %}
    {% load custom_filters %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main-header/css/main-header.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'footer_down/css/footer_down.css' %}">
    <link rel="stylesheet" href="{% static 'card_product/css/card_product.css' %}">
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <div class="main-container">
        {% include 'main_header.html' %}
        <div class="label-cart">Корзина</div>
        {% if not items %}
        <div class="empty-cart" style="display: none">
            <span class="indicator"></span>
          Ваша корзина пуста.
        </div>
        {% else %}
        <div class="content">
            <div class="cart-table">
                <!-- Заголовок таблицы -->
                <div class="cart-header">
                    <div class="cart-column"></div>
                    <div class="cart-column">Название</div>
                    <div class="cart-column">Количество</div>
                    <div class="cart-column">Цена</div>
                </div>
                {% for item in items %}
                <div class="cart-row" id="{{ item.product.id }}">
                    <div class="cart-column">
                        <img src="{{ item.product.img1.url }}" alt="Изображение товара" class="cart-image">
                    </div>
                    <div class="cart-column">
                        <span class="cart-item-name">{{ item.product.name }}</span>
                    </div>
                    <div class="cart-column">
                        <div class="count">
                            <button class="quantity-btn">-</button>
                            <input type="text" class="quantity-input" value="{{ item.quantity }}">
                            <button class="quantity-btn">+</button>
                        </div>
                    </div>
                    <div class="cart-column">
                        <span class="cart-price">{{ item.product.price|space_separator }}<span class="value">₽</span></span>
                        <button class="remove-btn">✖</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="cart-total">
                <div class="label-total">Итого:</div>
                <div class="value-total">{{ total_price|space_separator }}<span style="margin-left: 6px;">₽</span></div>
                <div class="ready-order">Создать заказ</div>
            </div>
        </div>
        {% endif %}
    </div>
    <script src="{% static 'cart/js/cart.js' %}"></script>
</body>