{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main-header/css/main-header.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'footer_down/css/footer_down.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}">
</head>
<body>
    <div class="main-container">
        {% include 'main_header.html' %}
    </div>
    <div class="content-background">
        <div class="main-container">
            <div class="content">

                <div class="filters" id="filter_container">
                    <span class="filters_title">
                        Фильтры
                    </span>
                    <span class="filters_section-title" style="font-size:14px;">
                        Выберите автомобиль
                    </span>
                    <div id="marks" class="dynamic-filter">
                        <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false">
                            <div class="choices__inner">
                                <select name="marks" class="choices__input" hidden="" tabindex="-1" data-choice="active">
                                    <option value="0">Выберите марку</option>
                                </select>
                                <div class="choices__list choices__list--single">
                                    <div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="0" data-custom-properties="null" aria-selected="true">Выберите марку</div>
                                </div>
                            </div>

                            <div class="choices__list choices__list--dropdown" aria-expanded="false">
                                <div class="choices__list" role="listbox">
                                    <div id="choices--marks-lm-item-choice-1" class="choices__item choices__item--choice is-selected choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="0" data-select-text="" data-choice-selectable="" aria-selected="true">
                                        Выберите марку
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <main class="catalog">
                    <h1>Вентилятор кондиционера
                        <sup class="title-count">
                            14 шт
                        </sup>
                    </h1>


                    <div class="card">
                        <div class="card_left" style="font-size: 13px">

                            <a href="/detail/10000300-ajusa">
                                <div style="text-align: center; margin-bottom: 15px">
                                    <img loading="lazy" src="https://av-parts.by/images/large/nrf/34204-nrf.jpeg"
                                         alt="Прокладка ГБЦ AJUSA 10000300" class="card_image"
                                         style="max-height: 200px">
                                </div>
                            </a>

                            <div class="card_data" style="margin: 0 0 10px">
                                <a href="/detail/10000300-ajusa" class="card_title">Прокладка ГБЦ AJUSA 10000300</a>
                                <div class="card_table-row" style="margin: 4px 0 0;">
                                    <span class="card_table-cell">Брэнд</span>
                                    <div class="card_table-cell"></div>
                                    <span class="card_table-cell">AJUSA</span>
                                </div>
                                <div class="card_table-row">
                                    <span class="card_table-cell">Артикул</span>
                                    <div class="card_table-cell"></div>
                                    <span class="card_table-cell">10000300</span>
                                </div>

                                <div class="card_table-row">
                                    <span class="card_table-cell">Страна бренда</span>
                                    <div class="card_table-cell"></div>
                                    <span class="card_table-cell">Испания</span>
                                </div>

                                <div class="card_table-row">
                                    <span class="card_table-cell">Вес [г]</span>
                                    <div class="card_table-cell"></div>
                                    <span class="card_table-cell">120</span>
                                </div>
                                <div class="card_table-row" style="font-size: 14px;margin-top: 5px">
                                    <span><b>Краткое описание: </b> OPEL: CORSA A TR 1.0 82-93, CORSA A Наклонная задняя часть 1.0 82-93, CORSA A фургон 1.0 86-94, KADETT C 1.0 73-79, KADETT C City 1.0 73-79,</span>
                                </div>
                            </div>
                        </div>

                        <div class="card_controls" style="display:flex;align-items: center;min-width:180px;">
                            <div>
                                <span class="in-stock">В наличии</span>
                            </div>
                            <div class="card_price" style="text-align: center;margin: 10px 0 15px">
                                <span class="price">от <span class="price_value">74</span><span
                                        class="price_fractional">.30</span> BYN</span>
                            </div>
                            <div class="card_button" style="text-align: center">
                                <a class="card_offers" style="min-width: 150px; padding: 0"
                                   href="/detail/10000300-ajusa">
                                    Подробнее
                                </a>
                            </div>
                        </div>


                    </div>
                </main>
            </div>

        </div>
    </div>
</body>