<div id="custom-footer">
  <div class="main-container footer-contain">
    <div class="footer-col">
      <h1>О компании</h1>
      <ul>
        <li>О компании</li>
        <li>Связаться с нами</li>
        <li>Вакансии</li>
        <li>Новости</li>
        <li>Статистика</li>
      </ul>
    </div>
    <div class="footer-col">
      <h1>Интернет магазин</h1>
      <ul>
        <li>Доставка заказа</li>
        <li>Как оплатить заказ</li>
        <li>Условия возврата</li>
        <li>Поиск запчастей</li>
        <li>Помощь</li>
      </ul>
    </div>
    <div class="footer-col">
      <h1>Каталог</h1>
      <ul>
        <li>Каталоги автозапчастей</li>
        <li>Шины, диски</li>
        <li>Аксессуары</li>
        <li>Масла</li>
        <li>Аккумуляторы</li>
      </ul>
    </div>
    <div class="footer-col">
      <h1>Партнерство</h1>
      <ul>
        <li>Как стать партнером</li>
        <li>Поставщикам</li>
        <li>Юридическим лицам</li>
        <li>Производителям</li>
        <li>Партнерские программы</li>
      </ul>
    </div>
    <div class="footer-col">
      <h1>Реклама</h1>
      <ul>
        <li>Реклама на сайте</li>

      </ul>
    </div>
    <div class="footer-col social">
      <h1>Наши соцсети</h1>
      <ul>
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg" width="32"></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" width="32"></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.png" width="32"></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
