{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main-header/css/main-header.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'footer_down/css/footer_down.css' %}">
</head>
<body>
    <div class="main-container">
        {% include 'main_header.html' %}
    </div>
    <div class="content-background">
        <div class="main-container">
            <div class="car-selector">
                <div class="catalog-column">
                    <ul>
                        <li><span>A</span><a href="/catalog/?mark=1">Audi</a></li>
                        <li><span></span><a href="/catalog/?mark=2">BAIC</a></li>
                        <li><span></span><a href="/catalog/?mark=3">BMW</a></li>
                        <li><span>C</span><a href="/catalog/?mark=4">Cadillac</a></li>
                        <li><span></span><a href="/catalog/?mark=5">Changan</a></li>
                        <li><span></span><a href="/catalog/?mark=6">Chery</a></li>
                        <li><span></span><a href="/catalog/?mark=7">Chevrolet</a></li>
                        <li><span></span><a href="/catalog/?mark=8">Citroen</a></li>
                        <li><span>D</span><a href="/catalog/?mark=9">Daewoo</a></li>
                        <li><span></span><a href="/catalog/?mark=10">Exeed</a></li>
                    </ul>
                </div>
                <div class="catalog-column">
                    <ul>
                        <li><span>F</span><a href="/catalog/?mark=11">FAW</a></li>
                        <li><span></span><a href="/catalog/?mark=12">Ford</a></li>
                        <li><span>G</span><a href="/catalog/?mark=13">Geely</a></li>
                        <li><span>H</span><a href="/catalog/?mark=14">Haval</a></li>
                        <li><span></span><a href="/catalog/?mark=15">Honda</a></li>
                        <li><span></span><a href="/catalog/?mark=16">Hyundai</a></li>
                        <li><span>I</span><a href="/catalog/?mark=17">Infiniti</a></li>
                        <li><span>J</span><a href="/catalog/?mark=18">JAC</a></li>
                        <li><span></span><a href="/catalog/?mark=19">Jaguar</a></li>
                        <li><span></span><a href="/catalog/?mark=20">Jeep</a></li>
                    </ul>
                </div>
                <div class="catalog-column">
                    <ul>
                        <li><span></span><a href="/catalog/?mark=21">Jetour</a></li>
                        <li><span>J</span><a href="/catalog/?mark=22">Jetta</a></li>
                        <li><span>K</span><a href="/catalog/?mark=23">Kaiyi</a></li>
                        <li><span></span><a href="/catalog/?mark=24">Kia</a></li>
                        <li><span>L</span><a href="/catalog/?mark=25">Land Rover</a></li>
                        <li><span></span><a href="/catalog/?mark=26">Lexus</a></li>
                        <li><span></span><a href="/catalog/?mark=27">Livan</a></li>
                        <li><span></span><a href="/catalog/?mark=28">Lixiang</a></li>
                        <li><span>M</span><a href="/catalog/?mark=29">Mazda</a></li>
                        <li><span></span><a href="/catalog/?mark=30">Mercedes</a></li>
                    </ul>
                </div>
                <div class="catalog-column">
                    <ul>
                        <li><span></span><a href="/catalog/?mark=31">Mitsubishi</a></li>
                        <li><span>N</span><a href="/catalog/?mark=32">Nissan</a></li>
                        <li><span></span><a href="/catalog/?mark=33">Omada</a></li>
                        <li><span></span><a href="/catalog/?mark=34">Opel</a></li>
                        <li><span>P</span><a href="/catalog/?mark=35">Peugeot</a></li>
                        <li><span></span><a href="/catalog/?mark=36">Porsche</a></li>
                        <li><span>R</span><a href="/catalog/?mark=37">Renault</a></li>
                        <li><span></span><a href="/catalog/?mark=38">Skoda</a></li>
                        <li><span>S</span><a href="/catalog/?mark=39">Subaru</a></li>
                        <li><span></span><a href="/catalog/?mark=40">Suzuki</a></li>
                    </ul>
                </div>
                <div class="catalog-column">
                    <ul>
                        <li><span>T</span><a href="/catalog/?mark=41">Tank</a></li>
                        <li><span></span><a href="/catalog/?mark=42">Toyota</a></li>
                        <li><span>V</span><a href="/catalog/?mark=43">Volkswagen</a></li>
                        <li><span></span><a href="/catalog/?mark=44">Volvo</a></li>
                        <li><span></span><a href="/catalog/?mark=45">Voyah</a></li>
                        <li><span>В</span><a href="/catalog/?mark=46">ВАЗ</a></li>
                        <li><span>Г</span><a href="/catalog/?mark=47">ГАЗ</a></li>
                        <li><span>М</span><a href="/catalog/?mark=48">Москвич</a></li>
                        <li><span>У</span><a href="/catalog/?mark=49">УАЗ</a></li>
                    </ul>
                </div>
            </div>

            <div class="category-1">
                <div class="category-1-info">
                    Запчасти для технического обслуживания
                </div>
                <a href="/redirect-url">
                    <img src="{% static 'index/img/img.png' %}" alt="Category Image" class="category-image">
                </a>
            </div>

            <div class="fluids">
                <div class="fluid-item bg-white">
                    <a href="{% url 'catalog' %}?category=2&subcategory=2" class="fluid-link">
                        <div class="fluid-img brake-fluid-img"></div>
                        <p>Тормозные жидкости</p>
                    </a>
                </div>
                <div class="fluid-item bg-yellow">
                    <a href="{% url 'catalog' %}?category=1&subcategory=1" class="fluid-link">
                        <div class="fluid-img engine-oil-img"></div>
                        <p>Моторные масла</p>
                    </a>
                </div>
                <div class="fluid-item category-block">
                    <ul class="category-list">
                        <li><a href="{% url 'catalog' %}?category=3&subcategory=3">Трансмиссионные масла</a></li>
                        <li><a href="{% url 'catalog' %}?category=4">Автокосметика</a></li>
                        <li><a href="{% url 'catalog' %}?category=5">Охлаждающие жидкости</a></li>
                        <li><a href="{% url 'catalog' %}?category=4&subcategory=6">Жидкости для омывателя стекла</a></li>
                        <li><a href="{% url 'catalog' %}">Вся автохимия</a></li>
                    </ul>
                </div>
            </div>

            <div class="other">
                <div class="fluid-item bg-purple">
                    <a href="{% url 'catalog' %}" class="other-link">
                        <div class="fluid-img accessories-img"></div>
                        <p>Аксессуары</p>
                    </a>
                </div>
                <div class="fluid-item category-block">
                    <ul class="category-list">
                        <li><a href="{% url 'catalog' %}">Детские автокресла</a></li>
                        <li><a href="{% url 'catalog' %}">Все для ремонта</a></li>
                        <li><a href="{% url 'catalog' %}">Автолитература</a></li>
                        <li><a href="{% url 'catalog' %}">Инструмент</a></li>
                        <li><a href="{% url 'catalog' %}">Все принадлежности</a></li>
                    </ul>
                </div>
                <div class="fluid-item bg-white">
                    <a href="{% url 'catalog' %}" class="other-link">
                        <div class="fluid-img wheel-img"></div>
                        <p>Шины/Диски</p>
                    </a>
                </div>
            </div>

            <div class="popular-item">
                <div class="popular-item-text">
                    Популярные принадлежности
                </div>
                <div class="popular-items-grid">
                    <div class="item">
                        <a href="{% url 'catalog' %}">
                            <div class="images-popular-items snow-cleaning-img"></div>
                            <p>Щетка для очистки снега</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'catalog' %}">
                            <div class="images-popular-items snow-cleaning-img"></div>
                            <p>Щетка для очистки снега</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'catalog' %}">
                            <div class="images-popular-items snow-cleaning-img"></div>
                            <p>Щетка для очистки снега</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'catalog' %}">
                            <div class="images-popular-items snow-cleaning-img"></div>
                            <p>Щетка для очистки снега</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'catalog' %}">
                            <div class="images-popular-items snow-cleaning-img"></div>
                            <p>Щетка для очистки снега</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'catalog' %}">
                            <div class="images-popular-items snow-cleaning-img"></div>
                            <p>Щетка для очистки снега</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="other">
                <div class="fluid-item bg-white">
                    <a href="{% url 'catalog' %}" class="other-link">
                        <div class="fluid-img lamps-img"></div>
                        <p>Лампы</p>
                    </a>
                </div>
                <div class="fluid-item bg-blue">
                    <a href="{% url 'catalog' %}" class="other-link">
                        <div class="fluid-img battery-img"></div>
                        <p>Аккумуляторы</p>
                    </a>
                </div>
                <div class="fluid-item category-block">
                    <ul class="category-list">
                        <li><a href="{% url 'catalog' %}">Видеорегистраторы</a></li>
                        <li><a href="{% url 'catalog' %}">Предохранители</a></li>
                        <li><a href="{% url 'catalog' %}">Навигаторы</a></li>
                        <li><a href="{% url 'catalog' %}">Автомагнитолы</a></li>
                        <li><a href="{% url 'catalog' %}">Вся электроника</a></li>
                    </ul>
                </div>
            </div>

        </div>
        {% include 'footer_down.html' %}
    </div>
<script src="{% static 'main-header/js/search.js' %}"></script>
</body>
</html>