{% load static %}
<header>
    <div class="section-1">
        <div>
            <img src="https://s.exist.ru/img2/icons/header/map-marker.svg" alt="map marker" class="map-icon">
            <div>Йошкар-Ола</div>
        </div>
        <div>
            <div>ул.Пушкина, д14</div>
        </div>
        <div>
            <img src="https://s.exist.ru/img2/icons/header/phone.svg" alt="phone icon" class="phone-icon">
            <div>+7 (927) 555-30-21</div>
        </div>
    </div>

    <div class="section-2">
        <div class="logo">
            <img src="{% static 'main-header/img/logo.webp' %}" alt="Logo">
            <span class="site-name">Автозапчасти 12</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Поиск...">
            <button type="submit" class="search-icon">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="auth-cart">
            <div class="auth">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}">Авторизация</a>
                {% endif %}
            </div>
            <div class="cart">
                <a href="/cart">Корзина</a>
            </div>
        </div>
    </div>
</header>
