:root {
    --red-color: #e63946;
    --blue-color: #66bcd6;
    --border-color-button: #cccccc;
    --bg-color-button: #f0f1f1;
    --bg-color-button-hover: #e8e8e8;
}

a {
    text-decoration: none; /* Убираем подчеркивание */
}


.main-container {
  padding-top: 20px;
  width: 70%;            /* Задает ширину контейнера 70% */
  margin: 0 auto;        /* Центрирует контейнер по горизонтали */
}

body {
    font: 14px/1.4 "HelveticaNeueCyr", Helvetica, sans-serif;
    color: #313235;
}